.containerRegister {
	width: 200px;
	height: 280px;
	border-style: groove;
	margin: 0 auto;
	border-radius: 10px;
}

.siteName {
	text-align: center;
	font-family: Arial;
}

.containerLogin {
    width: 200px;
    height: 150px;
    border-style: groove;
    margin: 0 auto;
    border-radius: 10px;
}

.header {
	width: 1440px;
    height: 50px;
    border-style: groove;
    border-radius: 10px;
}

.toolbar {
	float: left;
	width: 20%;
	height: 850px;
	border-style: groove;
	text-align: center;
	color: white;
	background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

.buttons{
	margin-top: 5px;
}

.content {
	width: 100%;
	height: 850px;
	border-style: groove;
}

.containerSite {
	width: 1440px;
	height: 850px;
	margin-top: 5px;
}

.siteHeaderWrapper{
	margin-left: 5px;
}

.siteHeader{
	font-size: 18px; 
}

.alignLeft {	
	float: left;
}

.alignRight {
	float: right;
}

.innerDiv{
	margin: 5px;
	margin-bottom: 10px;
}

.button {
  font: 12px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 3px 6px 3px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.buttonBig{
  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 4px 6px 4px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.image{
	display: block;
	margin: 0 auto;
}

.tmp{
		background-color: #87AAE3;
	
}